<div class="cointaner-wrapper">
    <p>{{piezaRopa.name}}</p>
</div>

<div class="card">
    <img class="image" [src]="piezaRopa.img">
    <p>
        {{piezaRopa.name}}
    </p>
    <p>
        Hay <span [style.color]="piezaRopa.stock > 10 ? 'green' : 'orange'">{{piezaRopa.stock}} </span> existencias.
    </p>
    <p>
        Hay <span [style.color]="getStockColor(piezaRopa.stock)">{{piezaRopa.stock}} </span> existencias.
    </p>

    <button (click)="addCarrito(piezaRopa)" class="custom-btn" [disabled] = "piezaRopa.stock == 0"> Añadir a carrito</button>
</div>
